<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="contnet">
    <h1>Roy Wei</h1>
    <h3>Rails Developer</h3>
    <p>
      I am a self-taught Ruby on Rails developer, with the knowledge of Javascript, HTML, and CSS, capable of building a web presence from the ground up - from concept, user story, navigation, layout, testing, and programming to readable and maintainable clean code. I have board interests with the dynamic world, and I am willing to learn and try anything novice and challenging. Right now I am looking for an opportunity to contribute myself in your company where offers a unique work environment within which its staff can thrive and grow.
    </p>
  </div>

</div>
